html, body {
	width:	100%;
	height: 100%;
	padding: 0;
	margin:	0;
	overflow: hidden;
	background-color: #f3f3f3;
}
body {
	border: 0;
	font-family: "Segoe UI", "Helvetica", Helvetica, sans-serif;
	font-size: 13px;
	color: #1c1c1c;
}
div, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
}
tr {
	overflow: hidden;
}
div.caption {
	font-weight: bold;
	font-size: 12px;
	border: 1px solid #777777;
	text-indent: 6px;
	line-height: 18px;
}
.label-field div {
	text-indent: 4px;
}
.tbutton div, a.tbutton {
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}
a.tbutton:hover {
	text-decoration: underline;
}
.field input, button.field {
	color: #1c1c1c;
}
.undef input {
	font-style: italic;
}
.desc textarea {
	white-space: normal;
	font: inherit;
	font-size: 14px;
}
button.cbutton {
	padding: 8px 0;
	font-size: 14px;
}
.darkr {
	color: #770000;
}
.darky {
	color: #444400;
}
.darkg {
	color: #007700;
}
.darkb {
	color: #000077;
}
.darkm {
	color: #440044;
}
.toolbar .textbox {
	margin-top: 10px;
}
.xul-listitem, .xul-listcell {
    height: 1.3em;
    line-height: 1.3em;
}
.logo-title {
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-size: 48px;
}
td.xul-box---box-child, div.xul-dialog--body, div.xul-window--body {
	overflow: hidden;
}
#tree-help .xul-treebody {
	cursor: pointer;
}
#test-bck {
	background-image: url(../../media/julbck.jpg);
}
.tbutton tr.xul-menuitem {
	font-size: 13px;
	font-weight: normal;
}
input.xul-textbox--input, textarea.xul-textbox--input {
	background-color: #fbfbfb;
}
/*
#debug-pane {
	display: none;
	width: 360px;
	height: 180px;
	position: fixed;
	z-index: 17000000;
	right: 0;
	bottom: 0;
	overflow: auto;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
	padding: 0.5em;
	border: 1px solid #777;
	background-color: #fff;
}
*/
